Repository PKief/git-cli-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run format, bun run lint, bun run test

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}": ["bun run format", "bun run lint"],
  "src/core/**/*.{js,ts}": ["bun run test"]
}

chore(version): bump version to 1.21.0
  package.json
Due: none

fix(release): pull latest main before changelogen to prevent orphaned version commits
  .github/workflows/release.yml
  package.json
Due: none

feat(commits): add branch filtering to search commits and implement searchBranchCommits utility
  src/cli/commands/branches/item-actions/index.ts
  src/cli/commands/branches/item-actions/search-commits.test.ts
  src/cli/commands/branches/item-actions/search-commits.ts
  src/cli/commands/commits/global-actions/types.ts
  src/cli/commands/commits/index.ts
  src/core/git/commits.test.ts
  src/core/git/commits.ts
Due: bun run format, bun run lint, bun run test

feat(branches): add search commits action for remote branches
  src/cli/commands/remotes/actions/search-commits.ts
  src/cli/commands/remotes/actions/show-branches.ts
Due: bun run format, bun run lint

feat(release): bump version to 1.23.0 and update package-lock.json
  package-lock.json
  package.json
Due: none

feat(release): bump version to 1.24.0 in package.json and package-lock.json
  package-lock.json
  package.json
Due: none

feat(ci): update release yml
  .github/workflows/release.yml
Due: none

feat: refactor code for better maintainability
  src/cli/commands/branches/item-actions/copy.ts
  src/cli/commands/commits/actions/copy.ts
  src/cli/commands/list-aliases/actions/copy.ts
  src/cli/commands/remotes/actions/copy.ts
  src/cli/commands/stashes/item-actions/copy.ts
  src/cli/commands/tags/item-actions/copy.ts
  src/cli/commands/top-authors/item-actions/copy.ts
  src/cli/utils/action-helpers.ts
  src/core/git/branches.ts
  src/core/git/commits.ts
  src/core/git/operations.ts
  src/core/git/remotes.ts
  src/core/git/stashes.ts
  src/core/git/tags.ts
  src/core/utils.ts
Due: bun run format, bun run lint, bun run test

feat: refactor git command execution to use streaming and improve error handling
  src/cli/commands/branches/global-actions/index.ts
  src/cli/commands/branches/item-actions/checkout.ts
  src/cli/commands/commits/global-actions/branch-only.ts
  src/cli/commands/commits/global-actions/index.ts
  src/cli/commands/commits/global-actions/types.ts
  src/cli/commands/commits/index.ts
  src/cli/commands/remotes/actions/checkout-branch.ts
  src/cli/commands/remotes/global-actions/index.ts
  src/cli/commands/stashes/global-actions/index.ts
  src/cli/commands/tags/global-actions/index.ts
  src/cli/ui/command-selector.ts
  src/cli/ui/search-scoring.ts
  src/cli/utils/action-helpers.ts
  src/cli/utils/command-registration.ts
  src/cli/utils/editor.ts
  src/cli/utils/global-action.ts
  src/core/git/aliases.ts
  src/core/git/authors.test.ts
  src/core/git/authors.ts
  src/core/git/branches.test.ts
  src/core/git/branches.ts
  src/core/git/commits.test.ts
  src/core/git/commits.ts
  src/core/git/executor.test.ts
  src/core/git/executor.ts
  src/core/git/operations.test.ts
  src/core/git/operations.ts
  src/core/git/worktrees.ts
Due: bun run format, bun run lint, bun run test

feat(bookmarks): implement bookmarking functionality for branches, commits, stashes, tags, remotes, worktrees, and aliases
  src/cli/commands/branches/index.ts
  src/cli/commands/commits/index.ts
  src/cli/commands/list-aliases/index.ts
  src/cli/commands/remotes/index.ts
  src/cli/commands/stashes/index.ts
  src/cli/commands/tags/index.ts
  src/cli/commands/worktrees/index.ts
  src/cli/ui/selection-list/index.ts
  src/cli/ui/selection-list/render-list.ts
  src/cli/ui/selection-list/types.ts
  src/core/bookmarks.test.ts
  src/core/bookmarks.ts
Due: bun run format, bun run lint, bun run test

feat(selection-list): add inline bookmark toggle action and update rendering for pinned items
  src/cli/ui/selection-list/index.ts
  src/cli/ui/selection-list/render-list.ts
Due: bun run format, bun run lint

chore(deps): update picomatch to version 2.3.2 and yaml to version 2.8.3
  package-lock.json
Due: none
