Repository PKief/git-cli-utils: changes, and which lint-staged commands are due for each by the changed paths.
All: bun run format, bun run lint, bun run test

feat: add deleteTag and changeTagCommit functions for tag management
  src/cli/commands/tags/actions/delete.ts
  src/cli/commands/tags/actions/index.ts
  src/cli/commands/tags/actions/move.ts
  src/cli/commands/tags/index.ts
  src/core/git/tags.ts
Due: bun run format, bun run lint, bun run test

fix: enhance editor configuration checks and improve user prompts for worktree opening
  src/cli/commands/worktrees/actions/open.ts
  src/cli/utils/worktree-actions.ts
Due: bun run format, bun run lint

refactor: remove unused code
  src/modules/branch-selector.ts
  src/modules/commit-selector.ts
  src/modules/index.ts
Due: bun run format, bun run lint

chore: add sheriff to verify architecture constraints
  bun.lock
  package.json
  sheriff.config.ts
  src/cli/commands/branches/actions/checkout.ts
  src/cli/commands/branches/actions/copy.ts
  src/cli/commands/commits/actions/copy.ts
  src/cli/commands/list-aliases/actions/copy.ts
  src/cli/commands/remotes/actions/add-remote.ts
  src/cli/commands/remotes/actions/checkout-branch.ts
  src/cli/commands/remotes/actions/copy.ts
  src/cli/commands/remotes/actions/delete.ts
  src/cli/commands/remotes/actions/rename.ts
  src/cli/commands/remotes/actions/set-as-default.ts
  src/cli/commands/remotes/actions/set-as-upstream.ts
  src/cli/commands/remotes/actions/set-url.ts
  src/cli/commands/remotes/actions/show-branches.ts
  src/cli/commands/remotes/index.ts
  src/cli/commands/stashes/actions/copy.ts
  src/cli/commands/sync/index.ts
  src/cli/commands/tags/actions/copy.ts
  src/cli/commands/top-authors/index.ts
  src/core/git/index.ts
  src/core/git/operations.test.ts
  src/core/git/operations.ts
  src/core/types/index.ts
  test/README.md
Due: bun run format, bun run lint, bun run test

refactor: remove confirmation prompt for branch checkout
  src/cli/commands/remotes/actions/checkout-branch.ts
Due: bun run format, bun run lint

feat: implement deleteRemoteBranch function and integrate into branch actions
  src/cli/commands/remotes/actions/delete-branch.ts
  src/cli/commands/remotes/actions/index.ts
  src/cli/commands/remotes/actions/show-branches.ts
Due: bun run format, bun run lint

chore: update dependencies to latest versions
  bun.lock
  package.json
Due: none

feat: enhance commit search functionality with optional file path filter
  src/cli/commands/commits/index.ts
  src/core/git/commits.ts
  src/core/git/executor.ts
Due: bun run format, bun run lint, bun run test

test: update getGitCommits tests to use array syntax for command arguments
  src/core/git/commits.test.ts
Due: bun run format, bun run lint, bun run test

feat: enhance getGitCommits to support filtering by branch and add CLI options for commit selection
  src/cli/commands/commits/index.ts
  src/core/git/commits.test.ts
  src/core/git/commits.ts
Due: bun run format, bun run lint, bun run test

chore: update dependencies
  package-lock.json
  package.json
Due: none

chore: update dependencies
  bun.lock
  package-lock.json
Due: none

chore: update schema version to 2.3.10 in biome.jsonc
  biome.jsonc
Due: none

chore: update copyright year to 2026 in LICENSE
  LICENSE
Due: none

docs: add AGENTS.md for AI Agent guide and project overview
  AGENTS.md
Due: none

feat: add symlink configuration for worktrees
  src/cli/commands/config/index.ts
  src/cli/commands/worktrees/actions/remove.ts
  src/cli/utils/worktree-actions.ts
  src/core/config.test.ts
  src/core/config.ts
  src/core/git/worktree-symlinks.test.ts
  src/core/git/worktree-symlinks.ts
  src/core/git/worktrees.ts
Due: bun run format, bun run lint, bun run test

feat: add integration tests for CLI commands and worktree symlinks functionality
  AGENTS.md
  test/e2e/cli-commands.test.ts
  test/e2e/commands.test.ts
  test/e2e/worktree-symlinks.test.ts
  test/utils/sandbox.ts
Due: bun run format, bun run lint

feat: add integration tests for branches, CLI commands, commits, config, remotes, stashes, and tags
  test/e2e/branches.test.ts
  test/e2e/cli.test.ts
  test/e2e/commands.test.ts
  test/e2e/commits.test.ts
  test/e2e/config.test.ts
  test/e2e/remotes.test.ts
  test/e2e/stashes.test.ts
  test/e2e/tags.test.ts
Due: bun run format, bun run lint

docs: update AGENTS.md with detailed test file organization and principles
  AGENTS.md
Due: none

feat: remove worktree symlink functionality and related tests
  .gitignore
  AGENTS.md
  src/cli/commands/config/index.ts
  src/cli/commands/worktrees/actions/remove.ts
  src/cli/utils/worktree-actions.ts
  src/core/config.test.ts
  src/core/config.ts
  src/core/git/worktree-symlinks.test.ts
  src/core/git/worktree-symlinks.ts
  test/e2e/config.test.ts
  test/e2e/worktree-symlinks.test.ts
  test/e2e/worktrees.test.ts
  test/utils/sandbox.ts
Due: bun run format, bun run lint, bun run test

feat: show remote tracking info in branches list
  src/cli/commands/branches/actions/index.ts
  src/cli/commands/branches/actions/set-upstream.ts
  src/cli/commands/branches/index.ts
  src/core/git/branches.test.ts
  src/core/git/branches.ts
Due: bun run format, bun run lint, bun run test

fix: update commitlint configuration to use ES module syntax
  commitlint.config.js
Due: bun run format, bun run lint

chore: Update NPM registry authentication command
  .github/workflows/release.yml
Due: none

docs: restructure documentation with new architecture, common tasks, patterns, and testing sections
  AGENTS.md
  docs/architecture.md
  docs/common-tasks.md
  docs/patterns.md
  docs/testing.md
Due: none

feat: enhance command actions to support back navigation and improve user experience
  src/cli/commands/branches/index.ts
  src/cli/commands/commits/index.ts
  src/cli/commands/list-aliases/index.ts
  src/cli/commands/remotes/index.ts
  src/cli/commands/stashes/index.ts
  src/cli/commands/sync/index.ts
  src/cli/commands/tags/index.ts
  src/cli/commands/top-authors/index.ts
  src/cli/commands/worktrees/index.ts
  src/cli/ui/command-selector.ts
  src/cli/ui/selection-list/index.ts
  src/cli/ui/selection-list/types.ts
  src/cli/utils/command-registration.ts
Due: bun run format, bun run lint

feat: implement centralized error handling and exit management across CLI commands
  biome.jsonc
  biome/no-process-exit.grit
  src/cli/commands/branches/index.ts
  src/cli/commands/commits/index.ts
  src/cli/commands/list-aliases/index.ts
  src/cli/commands/remotes/actions/show-branches.ts
  src/cli/commands/remotes/index.ts
  src/cli/commands/save/index.ts
  src/cli/commands/stashes/index.ts
  src/cli/commands/sync/index.ts
  src/cli/commands/tags/index.ts
  src/cli/commands/top-authors/index.ts
  src/cli/commands/worktrees/index.ts
  src/cli/ui/command-selector.ts
  src/cli/ui/selection-list/index.ts
  src/cli/utils/exit.test.ts
  src/cli/utils/exit.ts
  src/index.ts
Due: bun run format, bun run lint

feat: remove save command and related tests
  src/cli/commands/save/index.ts
  src/index.ts
  test/e2e/stashes.test.ts
Due: bun run format, bun run lint

feat(global-actions): move add remote functionality to global actions
  src/cli/commands/remotes/actions/index.ts
  src/cli/commands/remotes/global-actions/add-remote.ts
  src/cli/commands/remotes/global-actions/index.ts
  src/cli/commands/remotes/index.ts
Due: bun run format, bun run lint

feat: implement global actions for branches, commits, remotes, stashes, and tags
  .opencode/plans/unified-actions.md
  src/cli/commands/README.md
  src/cli/commands/branches/global-actions/create-branch.ts
  src/cli/commands/branches/global-actions/index.ts
  src/cli/commands/branches/index.ts
  src/cli/commands/branches/item-actions/delete.ts
  src/cli/commands/commits/global-actions/file-history.ts
  src/cli/commands/commits/global-actions/index.ts
  src/cli/commands/commits/index.ts
  src/cli/commands/remotes/global-actions/add-remote.ts
  src/cli/commands/remotes/global-actions/index.ts
  src/cli/commands/remotes/index.ts
  src/cli/commands/stashes/global-actions/create-stash.ts
  src/cli/commands/stashes/global-actions/index.ts
  src/cli/commands/stashes/index.ts
  src/cli/commands/tags/global-actions/create-tag.ts
  src/cli/commands/tags/global-actions/index.ts
  src/cli/commands/tags/index.ts
  src/cli/utils/action-helpers.ts
  src/cli/utils/command-registration.ts
  src/cli/utils/global-action.ts
  test/e2e/branches.test.ts
  test/e2e/commits.test.ts
  test/e2e/remotes.test.ts
  test/e2e/stashes.test.ts
  test/e2e/tags.test.ts
Due: bun run format, bun run lint

feat: implement unified actions architecture for global commands
  .opencode/plans/unified-actions.md
Due: none

feat: enhance error handling for cancellation actions and update tests
  src/cli/utils/command-registration.ts
  src/cli/utils/exit.test.ts
  src/cli/utils/exit.ts
Due: bun run format, bun run lint

feat(global-actions): implement item actions for top-authors command
  src/cli/commands/top-authors/index.ts
  src/cli/commands/top-authors/item-actions/copy.ts
  src/cli/commands/top-authors/item-actions/details.ts
  src/cli/commands/top-authors/item-actions/index.ts
Due: bun run format, bun run lint

feat(global-actions): add exitAfterExecution option for item actions
  src/cli/commands/branches/item-actions/index.ts
  src/cli/commands/commits/index.ts
  src/cli/commands/stashes/item-actions/index.ts
  src/cli/commands/tags/item-actions/index.ts
  src/cli/commands/top-authors/item-actions/index.ts
  src/cli/utils/action-helpers.ts
Due: bun run format, bun run lint

feat(global-actions): implement cross-branch and reflog search actions
  src/cli/commands/commits/global-actions/cross-branch.ts
  src/cli/commands/commits/global-actions/file-history.ts
  src/cli/commands/commits/global-actions/index.ts
  src/cli/commands/commits/global-actions/reflog.ts
  src/cli/commands/commits/global-actions/types.ts
  src/cli/commands/commits/index.ts
  src/core/git/commits.test.ts
  src/core/git/commits.ts
Due: bun run format, bun run lint, bun run test

feat(global-actions): reorder actions in getCommitGlobalActions function
  src/cli/commands/commits/global-actions/index.ts
Due: bun run format, bun run lint

fix(release): remove redundant npm set command in publish step
  .github/workflows/release.yml
Due: none

fix(pager): pause stdin to allow the process to exit
  src/cli/ui/selection-list/index.ts
  src/cli/utils/pager.ts
Due: bun run format, bun run lint

chore(version): bump version to 1.20.0
  package.json
Due: none

feat(spinner): implement spinner utility for async operations
  biome.jsonc
  biome/no-dynamic-import.grit
  src/cli/commands/list-aliases/index.ts
  src/cli/commands/remotes/actions/delete-branch.ts
  src/cli/commands/remotes/actions/show-branches.ts
  src/cli/commands/sync/actions/sync.ts
  src/cli/commands/sync/index.ts
  src/cli/commands/tags/global-actions/create-tag.ts
  src/cli/commands/tags/item-actions/delete.ts
  src/cli/commands/tags/item-actions/move.ts
  src/cli/commands/worktrees/actions/remove.ts
  src/cli/utils/spinner.ts
  src/cli/utils/worktree-actions.ts
  src/core/git/worktrees.ts
Due: bun run format, bun run lint, bun run test

Path conditions:
  bun run format: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  bun run lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  bun run test: any of: src/core/**/*.{js,ts}
